{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}This Based HTML{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />-->
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
</head>
{% block content %} {% endblock %}
<footer class="footer mt-auto bt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Design for IC Design</a>.</li>
                    <li class="mb-2">Copyright 2021</li>
                    <hr>
                    <li class="mb-2">Contact Us</li>
                    <li class="mb-2"><a href="mailto:icdesign.nycu@gmail.com.tw">icdesign.nycu@gmail.com.tw</a></li>
                    <li class="mb-2">Tel : (03)571-2121 轉 54431 </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://icdesign.tw/">回首頁</a></li>
                    <li class="mb-2"><a href="https://www.nctu.edu.tw/">國立陽明交通大學</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://icdesign.tw/privacy/">隱私保護及網站安全政策</a></li>
                    <!-- this is the page privacy notice -->
                    <!--  -->
                    <!-- <li class="mb-2"><a href="#">網站導覽</a></li> -->
                    <!-- I think because our site is a amall site so we dont need a page to tell which page can do what -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<script language="JavaScript">
    const numInputs = document.querySelectorAll('input[type=number]')

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    })
</script>

</html>