{% extends "pages/base.html" %}
{% block title %}FAQs{% endblock %}
{% block content %}
<body>
{% include "pages/header.html" %}
    <div class="row my-4">
        <div class="text-center">
            <h4>考試常見問題</h4>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
            <div class="accordion" id="accordionItem">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            1. 學科考試是否有題庫可以練習?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelHeadingOne">
                        <div class="accordion-body">
                            <span>半導體佈局設計工程師能力鑑定50題測驗題與1題實作題題庫作為考生練習使用</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="ppanelHeadingTwo">
                             2. 學生團報的標準與費用多少?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <span>學生團報需5人以上，提供5折優惠。</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelHeadingThree">
                            3. 術科檢定時是否可攜帶筆記本?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                           <span>可自行攜帶參考資料，但考試時不可相互交談。</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelHeadingFour">
                            主辦單位將於考前提供50題測驗題與1題實作題題庫供考生練習
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <ul class="icon-list">
                                <li><a href="https://www.tsri.org.tw/icdesign/doc/IC_layout_109.pdf" rel="noopener"
                                       target="_blank">題庫下載</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="text-center">
            <h4>考試專業問題</h4>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
            <div class="accordion" id="accordionItem">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            術科實作所使用的Tools為何?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelHeadingOne">
                        <div class="accordion-body">
                           <table class="table mb-4">
                                <tbody>
                                <tr>
                                    <th scope="row">製程資料(Technology)</th>
                                    <td>TSRI Virtual 0.18um CMOS Technology</td>
                                </tr>
                                <tr>
                                    <th scope="row">佈局編輯軟體(Layout Editor)</th>
                                    <td>Cadence - Virtuoso (IC 5.1) Synopsys – Laker</td>
                                </tr>
                                <tr>
                                    <th scope="row">DRC驗證軟體(DRC Verification)</th>
                                    <td>Mentor Graphics – Calibre DRC</td>
                                </tr>
                                <tr>
                                    <th scope="row">LVS驗證軟體(LVS Verification)</th>
                                    <td>Mentor Graphics – Calibre LVS</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="ppanelHeadingTwo">
                            術科實作的製程為何?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <span>完成報名程序，並簽署製程資料保密同意書後，我們將提供線上下載製程相關資料。製程名稱：TSRI 0.18um 1.8V/3.3V 1P6M Virtual Mixed Mode/RFCMOS Process。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}