{% extends "pages/base.html" %}

{% block content %}

<body class="text-center">

<main class="form-login">
    <form action="">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="yourname@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="************">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
            <labe>
                <input type="checkbox" value="remember-me"> Remember me
            </labe>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
       <div class="">
           <a href="" class="">Forgot your password?</a>
       </div>

    </form>

</main>
</body>
{% endblock %}