{% extends "pages/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<body>
{% include "pages/header.html" %}
<main class="form-login text-center py-5 mt-5">
    <form action="">
        <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="yourname@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="************">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox py-1 mt-1">
            <labe>
                <input type="checkbox" value="remember-me"> Remember me
            </labe>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
       <div class="py-1 mt-1">
           <a href="" class="">Forgot your password?</a>
       </div>

    </form>

</main>
{% include "pages/footer.html" %}
</body>
{% endblock %}
