{% extends "pages/base.html" %}
{% block title %}tdis is Profile{% endblock %}
{% block content %}
{% include "pages/header.html" %}
<body>
<div class="container py-4">
    <div class="row g-2">
        <div class="col-12 col-md-4">
            <h1>Sponsorship</h1>
            <span>企業採認名單(2018/07/13 更新)</span>
        </div>
        <div class="col-12 col-md-8">
            <table class="table mb-4">
                <tbody>
                    <!--Row 1-->
                    <tr>
                        <td scope="row"><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3c6043295e363f6840323c1d1d1d1d5f2443a363189j99&jobsource=cj2008">聯發科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=5a4a42275e363f6840323c1d1d1d1d5f2443a363189j97">聯陽半導體股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=627043285e46406948423a1d1d1d1d5f2443a363189j50">創意電子股份有限公司</a></td>
                    </tr>
                    <!--Row 2-->
                    <tr>
                        <td scope="row"><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3860436b5e363f6840323c1d1d1d1d5f2443a363189j56">智原科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3b5f416c5d6b3d234741391c1c1c1c5e14339393098j98&jobsource=cj2008">建興電子科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=446042275e363f6840323c1d1d1d1d5f2443a363189j52">致新科技股份有限公司</a></td>
                    </tr>
                    <!--Row 3-->
                    <tr>
                        <td scope="row"><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=383a42295e5c3f6756583a1d1d1d1d5f2443a363189j56">旭曜科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3c60436d406c3e2248423a1d1d1d1d5f2443a363189j99">原相科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=403a446c385c3e243c583a1d1d1d1d5f2443a363189j48">凌陽科技股份有限公司</a></td>
                    </tr>
                    <!--Row 4-->
                    <tr>
                        <td scope="row"><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3870426e346c3e6848423a1d1d1d1d5f2443a363189j56">盛群半導體股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=5a4a42275e363f6840323c1d1d1d1d5f2443a363189j97">鼎威研發股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=4070436b5e463e6a52423c1d1d1d1d5f2443a363189j48">十速科技股份有限公司</a></td>
                    </tr>
                    <!--Row 5-->
                    <tr>
                        <td scope="row"><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=446042293436402056583a1d1d1d1d5f2443a363189j52">億霈科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=4367492d5373455d3839416a335b3e6864f51492c616345282828286a3f682d2c917j51&jobsource=">宏觀微電子股份有限公司</a></td>
                        <td><a href="http://www.hope-auto.com.tw/ch/index.php">弘普自動化科技有限公司</a></td>
                    </tr>
                    <!--Row 6-->
                    <tr>
                        <td scope="row"><a href="http://stlayout.com">矽拓科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=5a3a436b34463e2230323c1d1d1d1d5f2443a363189j97&jobsource=n104bank1">義傳科技股份有限公司</a></td>
                        <td><a href="http://tw.davicom.com.tw/page1.aspx?no=149759">凌陽創新股份有限公司</a></td>
                    </tr>
                    <!--Row 7-->
                    <tr>
                        <td scope="row"><a href="http://www.generalplus.com">凌通科技股份有限公司</a></td>
                        <td><a href="http://tw.richtek.com/about2.1.jsp">立錡科技股份有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=627043285e46406948423a1d1d1d1d5f2443a363189j50">聯傑國際股份有限公司</a></td>
                    </tr>
                    <!--Row 8-->
                    <tr>
                        <td scope="row"><a href="http://www.alcormicro.com">安國國際科技股份有限公司</a></td>
                        <td><a href="http://www.syncmos.com.tw/">新茂國際科技股份有限公司</a></td>
                        <td><a href="http://www.rad-ic.com/tw/default.aspx">瑞鼎科技股份有限公司</a></td>
                    </tr>
                    <!--Row 9-->
                    <tr>
                        <td scope="row"><a href="http://www.sis.com.tw/default_tw.aspx">矽統科技股份有限公司</a></td>
                        <td><a href="http://www.phison.com/Traditional/Main.asp">群聯電子股份有限公司 </a></td>
                        <td><a href="http://www.weltrend.com.tw/zh-tw">偉詮電子股份有限公司</a></td>
                    </tr>
                    <!--Row 10-->
                    <tr>
                        <td scope="row"><a href="http://www.sonix.com.tw/">松翰科技股份有限公司</a></td>
                        <td><a href="http://www.etron.com/tw/aboutus/company.php">鈺創科技股份有限公司 </a></td>
                        <td><a href="http://www.liteon.com/">光寶科技股份有限公司/a></td>
                    </tr>
                    <!--Row 11-->
                    <tr>
                        <td scope="row"><a href="http://www.asolid-tek.com/index.php">點序科技股份有限公司</a></td>
                        <td><a href="http://www.g-job.com.tw/">雷曜科技有限公司</a></td>
                        <td><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=444e47294c70435a35363e6744423b219663e4770483a4425252525243d552a29745j52&jobsource=n104bank1">聯詠科技股份有限公司</a></td>
                    </tr>
                    <!--Row 12-->
                    <tr>
                        <td scope="row"><a href="http://www.goldenlayout.com.tw">金芯科技有限公司</a></td>
                        <td><a href="http://www.kns.com/en-us/Pages/Home.aspx">庫力索法股份有限公司</a></td>
                        <td><a href="http://www.sitronix.com.tw">矽創電子股份有限公司</a></td>
                    </tr>
                    <!--Row 13-->
                    <tr>
                        <td scope="row"><a href="http://www.ilitek.com/">奕力科技股份有限公司 </a></td>
                        <td><a href="#"></a></td>
                        <td><a href="#"></a></td>
                    </tr>
                </tbody>
            </table>

            <div class="rowrow">
                <h4 class="mb-4">IC設計能力鑑定企業採認方案</h4>
                <ul class="mb-4">
                    <li>從貴公司採認IC設計能力鑑定作為選才參考開始</li>
                    <li>員工即可享有報名本中心教育訓練課程報名費8折優惠，</li>
                    <li>提昇員工能力；快速取得具有IC佈局、數位IC專業能力的人才資料提供選才參考；，</li>
                    <li>員工享有IC設計能力鑑定考試報名費7折優惠；每月將獲得學術界最新研發趨勢（晶片下線/優良晶片得獎題目）。</li>
                    <li>只需回覆以下表格具體作法，我們將放置貴公司LOGO與企業名稱於此頁面，立即享有上述各項優惠。（可複選）</li>
                </ul>

                <h4 class="mb-4">
                    （可複選）
                </h4>
                <ul class="mb-4">
                    <li>鼓勵員工報考能力鑑定，作為提升員工專業能力之管道。</li>
                    <li>作為人力資源管理上員工能力考核及訓練發展之參考。，</li>
                    <li>以專班的方式委託本單位進行能力鑑定。</li>
                    <li>作為企業內用人部門參考。</li>
                    <li>由主辦單位轉介通過能力鑑定授證資格之考生供面談篩選。</li>
                    <li>願意在相關職缺招募條件中，加入取得:「IC佈局設計能力鑑定」、「數位IC設計能力鑑定」者尤佳。</li>
                </ul>

                <p>若您願意採認可，敬請下載<a href="">企業採認回覆表</a>填寫後回傳至<a href="mailto:icdesign@narlabs.org.tw">icdesign@narlabs.org.tw</a></p>
            </div>
        </div>
    </div>
</div>
</body>

<script>

</script>
{% endblock %}