{% extends "pages/base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<body class="">
{% include "pages/header.html" %}

<section>
    <div class="container my-5 ">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-5">
                <div class="row">
                    <div class="col">
                        <h1>考試需知：</h1>
                        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia. </p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col ">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="mdi mdi-drag"></i> 1.
                                本人所檢附的報名資料：中文姓名、身分證字號、出生年月日、聯絡電話、行動電話、通訊地址、E-Mail、身分別、就讀/畢業學校名稱、科系名稱、年級與班級、學歷、任職公司名稱及職稱，僅供「主辦單位」辦理鑑定考試使用、寄送相關考試資料及學習資訊、進行測驗相關統計、進行企業就業媒合之用。
                            </li>
                            <li class="list-group-item"><i class="mdi mdi-drag"></i> 2.
                                主辦單位將於原蒐集之特定目的、本次以外之產業之推廣、宣導及就業輔導、以及其他公務機關請求行政協助之目的範圍內，合理利用您的個人資料。
                            </li>
                            <li class="list-group-item"><i class="mdi mdi-drag"></i> 3.
                                本人瞭解所提供之個人資料，假如經由檢舉或主辦單位發現有不符真實身分或有冒用、盜用其他個人資料、資料不實等情事經查證屬實時，主辦單位有權取消本人的當次考試資格、成績或未來報名資格，並有權不提供鑑定考試相關服務。
                            </li>
                            <li class="list-group-item"><i class="mdi mdi-drag"></i> 4.
                                本人瞭解必須填寫完整且正確之報名資料，通訊地址、身分證字號、電話號碼及E-mail應正確，否則無法通知而致延誤考試及其他重要事項，其後果自行負責。
                            </li>
                            <li class="list-group-item"><i class="mdi mdi-drag"></i> 5.
                                考生對自己所有之個人資料，須負保密責任，若因洩漏予第三者，導致考生個人資料外洩、遺失、或無法正常使用本服務之情況，概由該考生自行負責，本網站得拒絕該考生使用本網站報名考試之權利。
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-6 offset-lg-1">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>Personal Information：</h1>
                        <p class="text-h3">This should contains what user need to know before they fill their personal
                            information. </p>
                    </div>
                </div>
                <hr>
                <form action="">
                    <div class="align-items-center">
                        <div class="form-floating">
                          <select class="form-select" id="selectCourse" name="ic_courses" aria-label="Floating label select example" required>
                            <option selected>Select your test</option>
                            <option value="1">Test One</option>
                            <option value="2">Test Two</option>
                          </select>
                          <label for="selectCourse">Test</label>
                        </div>
                    </div>
                    <div class="row g-2 mt-4">
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="text" name="ic_id" id="icid" class="form-control" placeholder="ID" maxlength="10" value="H800241522" disabled>
                          <label for="icid">ID</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="idname" name="ic_name" placeholder="e.g, Jhon Doe" value="William Joe" disabled>
                          <label for="icid">Full Name</label>
                        </div>
                      </div>
                    </div>
                    <div class="align-items-center mt-4">
                        <div class="form-floating">
                          <select class="form-select" id="selectGender" name="ic_gender" aria-label="Floating label select example" required>
                              <option selected>Choose your gender</option>
                              <option value="1">Man</option>
                              <option value="2">Woman</option>
                              <option value="3">Other</option>
                          </select>
                          <label for="selectCourse">Gender</label>
                        </div>
                    </div>
                    <div class="align-items-center mt-4">
                        <div class="form-floating">
                          <input type="email" id="idemail" name="ic_email" class="form-control" placeholder="this@youremail.com" required>
                          <label for="idemail">Email address</label>
                        </div>
                    </div>
                    <div class="align-items-center mt-4">
                        <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="textareaAdress" style="height : 100px;" required></textarea>
                          <label for="textareaAdress">Address</label>
                        </div>
                    </div>
                    <div class="row g-3 mt-2">
                        <div class="col-md">
                        <div class="form-floating">
                            <input type="text" id="schoolName" name="ic_school" class="form-control" placeholder="School name">
                          <label for="schoolName">School name</label>
                        </div>
                      </div>
                        <div class="col-md">
                            <div class="form-floating">
                            <input type="text" id="department" name="ic_department" class="form-control" placeholder="Department">
                            <label for="department">Department</label>
                        </div>
                          </div>
                        <div class="col-md">
                        <div class="form-floating">
                          <select class="form-select" id="selectStatusschool" name="ic_statusSchool" aria-label="Floating label select example">
                              <option selected>Select your degree</option>
                              <option value="1">Study</option>
                              <option value="2">Graduate</option>
                          </select>
                          <label for="selectStatusschool">Status School</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3 mt-2">
                      <div class="col-md">
                        <div class="form-floating">
                            <input type="text" id="companyName" name="ic_company" class="form-control" placeholder="Company name">
                            <label for="companyName">Company Name</label>
                        </div>
                      </div>
                      <div class="col-md">
                          <div class="form-floating">
                            <input type="text" id="selectPosition" name="ic_status" class="form-control" placeholder="Service Department">
                            <label for="companyName">Service Department</label>
                          </div>
                      </div>
                      <div class="col-md">
                          <div class="form-floating">
                            <input type="number" id="yearofExp" name="ic_yearofexp" class="form-control" placeholder="Year of experience">
                            <label for="companyName">Year of experience</label>
                          </div>
                      </div>
                    </div>
                    <div class="row g-2 mt-2">
                      <div class="col-md">
                        <div class="form-floating">
                            <input type="text" id="userTitle" name="ic_title" class="form-control" placeholder="Company name">
                            <label for="companyName">Title</label>
                        </div>
                      </div>
                      <div class="col-md">
                          <div class="form-floating">
                            <select class="form-select" id="selectDegree" name="ic_degree" aria-label="Floating label select example">
                              <option selected>Select your degree</option>
                              <option value="1">High School</option>
                              <option value="2">Bachelor</option>
                              <option value="2">Master</option>
                              <option value="2">Doctor</option>
                              </select>
                              <label for="selectDegree">Highest Degree</label>
                          </div>
                      </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div>
                                <label>
                                    By clicking Submit you are agree to <a href="#">Terms and
                                    Conditions</a>
                                </label>
                            </div>
                            <div>
                                <button class="btn btn-primary mt-4 col-12" type="submit" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>
                                <button class="btn btn-primary mt-4 col-12" type="submit">
                                    <!--                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                                    Submit
                                </button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-7 my-5" hidden>
                <div class="row align-items-center">
                    <div class="col">
                        <h1>Personal Information：</h1>
                        <p class="text-h3">This should contains what user need to know before they fill their personal
                            information. </p>
                    </div>
                </div>
                <hr>
                <form action="">
                    <div class="mb-3 row">
                    <label for="showCourse" class="col-sm-4 col-form-label">Test</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext" id="showCourse" value="">
                    </div>
                </div>
                    <div class="mb-3 row">
                        <label for="displayicID" class="col-sm-4 col-form-label">ID</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="displayicID" value="H800241522">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showFullname" class="col-sm-4 col-form-label">Full Name</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showFullname" value="William Joe">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showEmail" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showEmail" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showGender" class="col-sm-4 col-form-label">Gender</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showGender" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showAddress" class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showAddress" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showSchoolName" class="col-sm-4 col-form-label">School Name</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showSchoolName" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showDepartment" class="col-sm-4 col-form-label">Department</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showDepartment" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showStatusSchool" class="col-sm-4 col-form-label">Status School</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showStatusSchool" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showCompanyName" class="col-sm-4 col-form-label">Company Name</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showCompanyName" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showPosition" class="col-sm-4 col-form-label">Service Department</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showPosition" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showExp" class="col-sm-4 col-form-label">Year of Experiences</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showExp" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showTitle" class="col-sm-4 col-form-label">Title</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showTitle" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="showDegree" class="col-sm-4 col-form-label">Highest Degree</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" id="showDegree" value="">
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <button class="btn btn-outline-secondary mt-4 col-4" type="submit">
                                Modify
                            </button>
                            <button class="btn btn-primary mt-4 col-3" type="submit" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                            <button class="btn btn-primary mt-4 col-4" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-7 my-5" hidden>
                <div class="row align-items-center">
                    <div class="col">
                        <h1>請選擇欲報名的科別</h1>
                        <p class="text-h3">目前尚未開放任何考試科別 <a href="#">see text schedule</a></p>
                        <div class="col">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}